.flows.json.backup
[
    {
        "id": "773afc786f56ccb7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34013a9f4c99ea5a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1ef37e0dfca6de02",
        "type": "ui_tab",
        "name": "My System ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52e051fb7106ad46",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "Security/alert",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b449886926d1275c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "8883",
        "tls": "",
        "clientid": "ESP32_Client",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c4ac1a7acce310ec",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7fc78f10f29787c",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "c2d00c8ae2a0e6e1",
        "type": "ui_group",
        "name": "Distance & Warning",
        "tab": "1ef37e0dfca6de02",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3be444d89ca4889d",
        "type": "mqtt in",
        "z": "773afc786f56ccb7",
        "name": "Distance Data",
        "topic": "Security/distance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c4ac1a7acce310ec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "057630d71fc23569",
                "d372dc4ad8c328f3"
            ]
        ]
    },
    {
        "id": "1c0fd182b11791c2",
        "type": "mqtt in",
        "z": "773afc786f56ccb7",
        "name": "Motion",
        "topic": "Security/motion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c4ac1a7acce310ec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "f5f289d23296bc24",
                "f11be8f3cfd19f30"
            ]
        ]
    },
    {
        "id": "f5f289d23296bc24",
        "type": "ui_text",
        "z": "773afc786f56ccb7",
        "group": "c2d00c8ae2a0e6e1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái chuyển động ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "59d1480ae46c68a2",
        "type": "mqtt in",
        "z": "773afc786f56ccb7",
        "name": "Warning !!!",
        "topic": "Security/warning",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c4ac1a7acce310ec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "7c7f36ee4ec16cdb",
                "42a6f38e7d0c3197"
            ]
        ]
    },
    {
        "id": "7c7f36ee4ec16cdb",
        "type": "ui_toast",
        "z": "773afc786f56ccb7",
        "position": "top right",
        "displayTime": "15",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Cảnh báo",
        "x": 340,
        "y": 380,
        "wires": []
    },
    {
        "id": "b7ae5a7f401a5115",
        "type": "ui_button",
        "z": "773afc786f56ccb7",
        "name": "",
        "group": "c2d00c8ae2a0e6e1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tắt Cảnh báo ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ALERT_OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "1d3839f61923fca4"
            ]
        ]
    },
    {
        "id": "1d3839f61923fca4",
        "type": "mqtt out",
        "z": "773afc786f56ccb7",
        "name": "",
        "topic": "Security/reset",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4ac1a7acce310ec",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "057630d71fc23569",
        "type": "debug",
        "z": "773afc786f56ccb7",
        "name": "Debug Distance",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "42a6f38e7d0c3197",
        "type": "debug",
        "z": "773afc786f56ccb7",
        "name": "Debug Warning",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "f11be8f3cfd19f30",
        "type": "debug",
        "z": "773afc786f56ccb7",
        "name": "Debug Motion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "d372dc4ad8c328f3",
        "type": "function",
        "z": "773afc786f56ccb7",
        "name": "function 1",
        "func": "if (isNaN(msg.payload)) {\n    node.warn(\"Dữ liệu không phải số: \" + msg.payload);\n    return null; // Dừng nếu không hợp lệ\n}\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "79b30fed4858261f"
            ]
        ]
    },
    {
        "id": "79b30fed4858261f",
        "type": "ui_gauge",
        "z": "773afc786f56ccb7",
        "name": "",
        "group": "c2d00c8ae2a0e6e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Khoảng cách",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 80,
        "wires": []
    }
]